body {
  background-color: black;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  .App {
    /* background-color:white; */
    padding: 20% 0% 50% 12%;
    height: 35vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;

  }
}

.board {
  /* background-color: burlywood; */
  background-image: url('./27wTQC.png');
  /* border: 1px solid brown; */
  border-radius: 5%;
  width: 94%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 0px 0px #e2bc8f;
  -webkit-box-shadow: 1px 11px 0px 0px #e2bc8f;
  -moz-box-shadow: 4px 11px 0px 0px #e2bc8f;
}
@media only screen and (min-width: 701px) and (max-width: 800px) {
  .board {
    width: 90%;
    height: 40%;
    margin-bottom: 10vh;
  }
}
@media only screen and (min-width: 361px) and (max-width: 700px) {
  .board {
    width: 255%;
    min-height: 105%;
    margin-top: 20vh;
    /* margin-right: 20vh; */
  }
}
@media only screen and (max-width: 360px)  {
  .board {
    width: 165%;
    min-height: 115%;
    margin-top: 20vh;
    /* margin-right: 20vh; */
  }
}
.containers {
  /* border: 1px solid green; */
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  font-weight: bold;
}
.player1Containers,
.player2Containers {
  /* border: 1px solid white; */
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1% 0;
}
.container {
  background-image: url('./woodtexture-29.jpg');
  border-radius: 45%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1%;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  cursor: grabbing;
}
.container:hover {
  border: 1px solid red;
}

.player2Points,
.player1Points {
  background-image: url('./woodtexture-29.jpg');
  border-radius: 45%;
  width: 14%;
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  font-size: 3vw;
  font-weight: bold;
}
.pebble {
  background-color: blue;
  box-shadow: 12px 5px 90px -3px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 12px 5px 90px -3px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 12px 5px 90px -3px rgba(0, 0, 0, 0.5) inset;
  border-radius: 50%;
  width: 20%;
  height: 20%;
  margin: 1%;
}
h1 {
  margin-top: -7.5vh;
  font-size: 5vw;
  color: #ffc107;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(250, 188, 2), 1px 1px 0 rgb(245, 183, 0),
    2px 2px 0 rgb(240, 178, 0), 3px 3px 0 rgb(235, 173, 0),
    4px 4px 0 rgb(230, 168, 0), 5px 5px 0 rgb(225, 163, 0),
    6px 6px 0 rgb(220, 158, 0), 7px 7px 0 rgb(215, 153, 0),
    8px 8px 0 rgb(210, 148, 0), 9px 9px 0 rgb(205, 143, 0),
    10px 10px 0 rgb(200, 138, 0), 11px 11px 10px rgba(0, 0, 0, 1),
    11px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 701px) and (max-width: 800px) {
  h1 {
    margin-top: -17.5vh;
    font-size: 10vw;
  }
}
@media only screen and (max-width: 700px) {
  h1,
  h2 {
    font-size: 36px;
    /* margin-top: 1vh; */
  }
}
h2 {
  font-size: 3vw;
  color: white;
}
h3 {
  color: red;
}
p {
  font-size: 3vw;
  font-weight: bold;
}
@media only screen and (max-width: 1400px) {
  p {
    font-size: 56px;
  }
}
